@import './themes';

@media only screen and (max-width: 1027px) {
  .About {
    .Image {
      height: 12rem !important;
      width: 12rem !important;
      margin: $section-padding 0 0 !important;
    }

    .Heading {
      font: $small-heading-font !important;
      text-align: center !important;
    }

    .Paragraph {
      text-align: center !important;
      margin-left: 3.5rem;
    }

    .Button {
      align-self: center !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .About {
    .Heading {
      font: $x-small-heading-font !important;
    }

    .Image {
      height: 11rem !important;
      width: 11rem !important;
    }

    .Paragraph {
      font: $small-font !important;
      margin-left: 0 !important;
    }
  }
}

.About {
  @include themify() {
    @include smooth();
    align-items: center;
    background: t($body);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: $section-height;
    padding: $about-padding;
    width: $default-width;
  }

  .Image {
    @include themify() {
      background: t($borderSpecial);
      border: transparent;
      border-radius: 50%;
      height: 13rem;
      padding: .2rem;
      width: 13rem;
      margin-right: 3.5rem;
    }
  }

  .Content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.75em;
    padding-top: 1.75em;

    .Heading {
      @include themify() {
        color: t($text);
        font: $medium-heading-font;
      }
    }

    .Paragraph {
      @include themify() {
        color: t($textAlt);
        font: $medium-font;
        line-height: $line-height !important;
        max-width: 40rem;
      }

      .Link {
        @include themify() {
          color: t($primary);
          cursor: pointer;
          font-weight: 500;
          text-decoration: none;

          &:hover {
            color: t($secondary);
          }
        }
      }
    }

    .Button {
      @include themify() {
        @include smooth();
        align-self: flex-start;
        background: t($primary);
        border: t($primary);
        border-radius: $btn-radius;
        color: t($btnText);
        cursor: pointer;
        display: inline-block;
        font: $bold-small-font;
        outline: $btn-outline solid t($primary);
        padding: $btn-padding;
        text-decoration: none;

        &:hover {
          background: transparent;
          color: t($primary);
        }
      }
    }
  }
}
