@import './themes';

.About {
  @include themify() {
    align-items: center;
    background: t($body);
    display: flex;
    min-height: $section-height;
    width: $default-width;
  }

  .Image {
    @include themify() {
      background: t($borderSpecial);
      border: transparent;
      border-radius: 50%;
      height: 16%;
      margin-left: auto;
      padding: .2em;
      width: 16%;
    }
  }

  .Content {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto 0 3.75em;

    .Heading {
      @include themify() {
        color: t($text);
        font: $medium-heading-font;
      }
    }
  
    .Paragraph {
      @include themify() {
        color: t($textAlt);
        font: $medium-font;
        margin-top: 2rem;
        max-width: 40rem;
      }
    }
  }
}
