@import './themes';

.Contact {
  @include themify() {
    background-color: t($body);
    min-height: $section-height;
    padding: 2.6rem 2.6rem 10rem 2.6rem;
    width: $default-width;
  }

  .Heading {
    @include themify() {
      color: t($text);
      font: $medium-heading-font;
      padding: 2.6rem 0;
      text-align: center;
    }
  }

  .Contact--Container {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: space-around;
    margin: auto;

    .Info--Container {
      display: flex;
      flex-flow: column nowrap;
      gap: 4rem;

      .Info {
        display: flex;
        gap: 1rem;

        .Icon {
          @include themify() {
            color: t($primary);
            font-size: 2em;
            margin-top: .25rem;
          }
        }

        .Container {
          display: inherit;
          flex-flow: column nowrap;
          gap: .25em;

          .Name {
            @include themify() {
              color: t($text);
              font: $small-heading-font;
            }
          }

          span {
            @include themify() {
              color: t($textAlt);
              font: $bold-small-font;
            }
          }
        }
      }
    }

    .Form {
      align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;

      .Input, .TextArea {
        &:focus {
          @include themify() {
            outline: $btn-outline solid t($primary);
          }
        }
      }

      .Input {
        @include themify() {
          color: t($text);
          background: t($btnText);
          border: 0;
          border-radius: .4rem;
          box-shadow: 0 0 6px -2px t($shadow);
          font: $small-font;
          height: 3rem;
          padding: 1rem;
          width: 25rem;
        }
      }

      .TextArea {
        @include themify() {
          color: t($text);
          background: t($btnText);
          border: 0;
          border-radius: .4rem;
          box-shadow: 0 0 6px -2px t($shadow);
          font: $small-font;
          height: 100%;
          padding: 1rem;
          resize: vertical;
          width: 25rem;
        }
      }

      .Button {
        @include themify() {
          @include smooth();
          align-items: center;
          align-self: flex-start;
          background-color: t($primary);
          border: 0;
          border-radius: $btn-radius;
          color: t($btnText);
          cursor: pointer;
          display: flex;
          font: $bold-small-font;
          gap: .25em;
          height: 2.5em;
          justify-content: center;
          outline: $btn-outline solid t($primary);
          padding: $btn-padding;
          text-decoration: none;

          &:hover {
            background: transparent;
            color: t($primary);
          }
        }

        .Icon {
          font-size: 1.15em;
        }
      }
    }
  }
}
