@import './themes';

@media only screen and (max-width: 1250px) {
  .Home {
    .Content--Container {
      flex-flow: column nowrap !important;

      .Social {
        flex-flow: row nowrap !important;
        margin: 2.5rem 0 1rem .15rem !important;
      }

      .Link {
        display: none !important;
      }
    }

    .Illustration--Container {
      display: none !important;
    }
  }
}

.Home {
  @include themify() {
    @include smooth();
    align-items: center;
    background: t($body);
    display: flex;
    min-height: $home-height;
    padding: $home-padding;
    width: $default-width;
  }

  .Content--Container {
    display: flex;
    flex-flow: row nowrap;

    .Social {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      gap: 1.5rem;
      margin: 2rem 3.5rem 0 0;
  
      .Icon {
        @include themify() {
          @include smooth();
          color: t($primary);
          font-size: 1.5em;

          &:hover {
            color: t($secondary);
          }
        }
      }
    }

    .Hero {
      .Heading {
        @include themify() {
          @include smooth();
          color: t($text);
          font: $x-large-heading-font;
          width: 700px;
        }
      }

      .Description {
        @include themify() {
          @include smooth();
          color: t($textAlt);
          font: $medium-font;
          margin-top: .5em;
          width: 37em;
        }
      }

      .Button {
        @include themify() {
          @include smooth();
          background: t($primary);
          border: transparent;
          border-radius: $btn-radius;
          color: t($btnText);
          cursor: pointer;
          display: inline-block;
          font: $bold-small-font;
          height: 2.5em;
          margin-top: 2em;
          outline: $btn-outline solid t($primary);
          padding: $btn-padding;
          text-decoration: none;
  
          &:hover {
            background: transparent;
            color: t($primary);
          }
        }
      }
    }
      
    .Link {
      @include themify() {
        @include smooth();
        align-items: center;
        bottom: 2em;
        color: t($primary);
        cursor: pointer;
        display: flex;
        font: $bold-small-font;
        left: 8.15rem;
        position: absolute;
        text-decoration: none;

        .Mouse {
          font-size: 1.5em;
        }

        &:hover {
          color: t($secondary);

          .Arrow {
            transform: translateY(15%);
            transition: .2s;
          }
        }
      }
    }
  }

  .Illustration--Container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .Illustration {
      @include themify() {
        @include smooth();
        background: url(t($illustration)) no-repeat;
        background-position: center;
        background-size: contain;
        min-height: 85vh;
        min-width: 100%;
      }
    }
  }
}