@import './themes';

// @media only screen and (max-width: 1215px) {
//   .Visible {
//     display: none !important;
//   }

//   .Center {
//     display: flex !important;
//     flex-flow: column nowrap;
//     justify-content: flex-start;
//     transition: 1s;
//   }
// }

.Portfolio {
  @include themify() {
    background-color: t($body);
    min-height: $section-height;
    padding: 2.6rem;
    width: $default-width;
  }

  .Heading {
    @include themify() {
      color: t($text);
      font: $medium-heading-font;
      padding: 2.6rem 0;
      text-align: center;
    }
  }

  .Slide {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    .Cards--Container {
      display: flex;
      flex-basis: auto;

      .Card {
        @include themify() {
          background: t($bodyAlt);
          border: 0;
          border-radius: 1rem;
          box-shadow: 0 0 6px -2px t($shadow);
          display: none;
          height: 22rem;
          opacity: 0.7;
          padding: 1.5rem;
          position: relative;
          transform: scale(0.9);
          width: 20rem;

          .Icon {
            @include smooth();
            color: t($primary);
            font-size: 2.5em;
            position: absolute;
            right: .9rem;
            top: 2rem;

            &:hover {
              color: t($secondary);
            }
          }
        }
      }

      .Visible {
        display: flex !important;
        flex-flow: column nowrap;
        justify-content: flex-start;
        transition: 1s;
      }

      .Center {
        opacity: 1 !important;
        transform: scale(1) !important;
      }

      .RepoName {
        @include themify() {
          color: t($text);
          font: $big-title-font;
        }
      }

      .RepoDescription {
        @include themify() {
          color: t($textAlt);
          font: $medium-font;
          margin-top: 1.25rem;
        }
      }

      .Topics--Container {
        display: flex;
        flex-flow: row wrap;
        gap: .5em;
        margin-top: 1rem;

        .Topic {
          @include themify() {
            background: t($bubble);
            border: 0;
            border-radius: 1em;
            box-shadow: 0 0 6px -2px t($shadow);
            color: t($text);
            display: inline-block;
            font: $x-small-font;
            padding: .2rem 1rem;
          }
        }

        .Language {
          @include themify() {
            background: t($primary);
            color: t($body);
          }
        }
      }

      .RepoBtn {
        @include themify() {
          @include smooth();
          background-color: t($primary);
          border-radius: $btn-radius;
          color: t($btnText);
          cursor: none;
          display: inline-block;
          font: $bold-small-font;
          height: 2.5em;
          margin-top: auto;
          outline: $btn-outline solid t($primary);
          padding: $btn-padding;
          pointer-events: none;
          text-align: center;
          text-decoration: none;
        }
      }

      .Center .RepoBtn {
        pointer-events: all;
        cursor: pointer;

        &:hover {
          @include themify() {
            background: transparent;
            color: t($primary);
          }
        }
      }
    }

    .Button {
      @include themify() {
        @include smooth();
        appearance: none;
        background: none;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 4rem;
        width: 4rem;

        &:hover {
          background: t($btnHover);
        }

        &:active {
          background: t($btnActive);

          .Icon {
            color: t($secondary);
          }
        }
      }

      .Icon {
        @include themify() {
          color: t($primary);
          font-size: 4em;
        }
      }
    }
  }
}
