@import './variables';

/*-================== THEMES ===================-*/
$default: (
  header: $white,
  body: $alabaster,
  bodyAlt: $white,
  footer: $white-lilac,
  primary: $turquoise,
  secondary: $medium-turquoise,
  text: $big-stone,
  textAlt: $east-bay,
  btnText: $white,
  btnHover: $black-squeeze,
  btnActive: $alice-blue,
  bubble: $white-lilac,
  shadow: $lavender-gray,
  switch: $lavender-gray,
  border: $lavender-gray,
  borderSpecial: $gradient-light,
  illustration: '../images/Illustration.svg',
  );
  
$dark: (
  header: $rhino,
  body: $big-stone,
  bodyAlt: $rhino,
  footer: $rhino,
  primary: $aquamarine,
  secondary: $medium-aquamarine,
  text: $white-lilac,
  textAlt: $lavender-web,
  btnText: $rhino,
  btnHover: $east-bay,
  btnActive: $blue-yonder,
  bubble: $east-bay,
  shadow: transparent,
  switch: $big-stone,
  border: $blue-yonder,
  borderSpecial: $gradient-dark,
  illustration: '../images/Illustration2.svg',
);
  
$themes: (
  default: $default,
  dark: $dark,
);

/*-================== THEME MIXIN ===================-*/
@mixin themify() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

/*-================== SMOOTH MIXIN ===================-*/
@mixin smooth($easing: null) {
  -webkit-transition: .3s;
  transition: .3s $easing;
}

/*-================== KEYWORDS ===================-*/
$header: 'header';
$body: 'body';
$bodyAlt: 'bodyAlt';
$footer: 'footer';
$primary: 'primary';
$secondary: 'secondary';
$text: 'text';
$textAlt: 'textAlt';
$btnText: 'btnText';
$btnHover: 'btnHover';
$btnActive: 'btnActive';
$bubble: 'bubble';
$shadow: 'shadow';
$switch: 'switch';
$border: 'border';
$borderSpecial: 'borderSpecial';
$illustration: 'illustration';
