/*-================== COLORS ===================-*/
$medium-turquoise: #2CDDB7; // Secondary Light
$turquoise: #50E3C2; // Primary Light
$medium-aquamarine: #5CFFDC; // Secondary Dark
$aquamarine: #73FFE0; // Primary Dark
$white: #FFFFFF;
$alabaster: #F9F9F9;
$white-lilac: #F4F4FB;
$black-squeeze: #F3F8FB;
$alice-blue: #ECF4F8;
$lavender-web: #E9E9F7;
$lavender-gray: #C8CBD6;
$big-stone: #1A2744; // Main Dark
$rhino: #2E3D60; // Header-Footer Dark
$east-bay: #455781; // Link Hover Dark
$blue-yonder: #6076A9; // Link Active Dark
$scroll-thumb-light: #C1C1C1;
$scroll-thumb-dark: #707684;
$scroll-track-dark: #1D223A;
$gradient-light: linear-gradient(170deg, #0FFA7D 0%, #0FF2FA 100%); 
$gradient-dark: linear-gradient(170deg, #1DD573 0%, #1DCED5 100%);

/*-================== FONTS ===================-*/
// Icons
$xx-small-icon: 1.15em;
$x-small-icon: 1.375em;
$small-icon: 1.5em;
$medium-icon: 1.75em;
$big-icon: 2em;
$x-large-icon: 3em;
$xx-large-icon: 4em;

// Text
$xx-small-font: 400 .8em Poppins, sans-serif;
$x-small-font: 400 .9em Poppins, sans-serif;
$small-font: 400 1em Poppins, sans-serif;
$bold-small-font: 500 1em Poppins, sans-serif;
$medium-font: 400 1.11em Poppins, sans-serif;

// Title
$small-title-font: 500 1.2em Poppins, sans-serif;
$title-font: 500 1.35em Poppins, sans-serif;
$medium-title-font: 500 1.5em Poppins, sans-serif;
$big-title-font: 500 1.75em Poppins, sans-serif;
$x-large-title-font: 500 2em Poppins, sans-serif;

// Heading
$xx-small-heading-font: 500 1.45em Poppins, sans-serif;
$x-small-heading-font: 500 2em Poppins, sans-serif;
$small-heading-font: 500 2.25em Poppins, sans-serif;
$medium-heading-font: 500 2.5em Poppins, sans-serif;
$big-heading-font: 500 3em Poppins, sans-serif;
$x-large-heading-font: 500 3.5em Poppins, sans-serif;
$xx-large-heading-font: 500 4em Poppins, sans-serif;

// Line Height
$line-height: 2rem;

/*-================== SIZES ===================-*/
$header-height: 4rem;
$home-height: 100vh;
$section-height: 32rem;
$footer-height: 15rem;
$default-width: 100%;

// Dropdowns
$small-skill-height: 4.5rem;
$small-skill-width: 26rem;
$skill-height: 4.75rem;
$skill-width: 26.25rem;

// Cards
$small-card-height: 20.9rem;
$small-card-width: 17.5rem;
$card-height: 21.4rem;
$card-width: 18rem;

// Contact Form
$small-input-height: 2.8rem;
$small-input-width: 21rem;
$input-height: 3rem;
$input-width: 25rem;
$textarea-height: 9rem;

/*-================== SPACINGS ===================-*/
// Header
$title-margin: 0 0 0 2.375em;
$link-gap: 0 1.25em;
$theme-gap: 0 1.125em 0 2em;

// Home
$home-padding: 1em 3.5em;

// Button
$btn-padding: .5rem 1.2rem;
$btn-radius: .4rem;
$btn-outline: .12rem;
